# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# venv / uv
.venv/
uv.lock

# OS / IDE
.DS_Store
.vscode/
.idea/

# Regla plantilla
data/

# Parametros locales
.env

# Gestionar las plantillas sólo localmente
rubric_templates/
